#banner {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
    margin: 15px auto;
}

#radiusslider {
    width: calc(80% - 50px);
}

.hidden {
    padding: 0;
    margin: 0;
    border: 0;
    opacity: 0;
    max-height: 0;
}

.hidden.animated {
    -webkit-transition: max-height, 0.5s linear;
    -moz-transition: max-height, 0.5s linear;
    -o-transition: max-height, 0.5s linear;
    transition: max-height, 0.5s linear;
}

.hidden.open {
    max-height: 100px;
    height: inherit;
    margin: inherit;
    padding: inherit;
    border: inherit;
    opacity: 1;
}