<?php

class Configuration {

    //API KEYS
    CONST MEETUP_API_KEY = '<MEETUP_API_KEY>';
    CONST TIMELINE_API_KEY = '<TIMELINE_API_KEY>';

    //Meetup API and Endpoints
    CONST API_URL = 'https://api.meetup.com';
    CONST GROUP_ENDPOINT = '/2/groups?';
    CONST EVENT_ENDPOINT = '/2/event/';
    CONST GROUPS_ENDPOINT = '/find/groups?';
    CONST EVENTS_ENDPOINT = '/2/events?';
    CONST MEMBERS_ENDPOINT = '/2/members?';

    //DB connection information
    CONST DATABASE_HOST = 'localhost';
    CONST DATABASE_NAME = '<DATABASE_NAME>';
    CONST DATABASE_USER = '<DATABASE_USER>';
    CONST DATABASE_PASSWORD = '<DATABASE_PASSWORD>';


    //Development settings
    CONST DEBUG = false;
    CONST DEVELOPER_PASSWORD = '<SOME_PASSKEY>';

    //Other settings
    CONST MAINTENANCE_MODE = false;
}